<h2>Create Asset </h2>
<div style="width: 400px;">
  <form [formGroup]="assetForm" (ngSubmit)="onSubmit()">
    <div class="form-Group mb-2">
      <label for="name">Asset Code</label>
      <input type="text" class="form-control" formControlName="assetCode">
    </div>
    <div class="mb-2">
      <label for="name">Asset Name</label>
      <input type="text" class="form-control" formControlName="assetName">
    </div>
    <!-- <div class="mb-2">
      <label for="name">Asset Day Exp</label>
      <input type="text" class="form-control" formControlName="assetDayExp">
    </div> -->

    <mat-form-field appearance="fill">
<label for="name" class="mr-3">Asset Day Exp:</label>
      <!-- #docregion toggle -->
      <input matInput [matDatepicker]="picker" formControlName="assetDayExp">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <!-- #enddocregion toggle -->
    </mat-form-field>
    <div class="mb-2">
      <label for="name" class="mr-3">Asset Price:</label>
      <input type="number" id="tentacles" name="tentacles" formControlName="assetPrice">
    </div>

    <div class="mb-2">
      <label for="name">Asset Type Id</label>
      <input type="text" class="form-control" formControlName="assetTypeId">
        <!-- <option *ngFor="let item of asset" [value]="item.assetId">
          {{item.assetName}}
        </option>
      </select> -->
    </div>

    <button type="submit" class="btn btn-success my-2 mx-2">Submit</button>
<button (click)="gotoList()" class="btn btn-info">Back</button><br>


  </form>
</div>
