<div class="panel panel-primary mb-5">
  <div class="panel-heading">
    <!-- <h2>AssetType List</h2> -->
  </div>
  <div class="panel-body">
    <app-search (SearchName)="searchByName($event)" (buttonValue)="employeeUpdate($event)"></app-search>

    <app-table [data]="employeeTable"
      [columnTitle]="columnTables"
      [fieldName]="fieldName"
      [fieldId]="employeeId"
      (buttonValue)="employeeDetails($event)"
      (buttonValue)="employeeUpdate($event)"
      (buttonValue)="employeeDelete($event)"

      ></app-table>
  </div>
<button (click)="link()" class="btn btn-info">Add new</button>
</div>
