<div class="panel panel-primary mb-5">
  <div class="panel-heading">
    <!-- <h2>AssetType List</h2> -->
  </div>
  <div class="panel-body">

    <app-search (SearchName)="searchByName($event)" (buttonValue)="assetTypeUpdate($event)"></app-search>

    <app-table [data]="assetTypeTable"
      [columnTitle]="columnTables"
      [fieldName]="fieldName"
      [fieldId]="assetTypeId"
      (buttonValue)="assetTypeDetails($event)"
      (buttonValue)="assetTypeUpdate($event)"
      (buttonValue)="assetTypeDelete($event)"
      [details]= false
      ></app-table>

  </div>
<button (click)="link()" class="btn btn-info">Add new</button>
</div>
