<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>AssetType List</h2>
    </div>
    <div class="panel-body">
        <app-search (SearchType)="searchType()"></app-search>

        <app-table [assetTypes]="assetTypes" 
                   [searchTypeItem]="searchType" 
            (assetTypeDelete)="deleteAssetType($event)"
            (assetTypeDetail)="assetTypeDetails($event)" 
            (assetTypeUpdates)="assetTypeUpdate($event)"></app-table>


    </div>
</div>