<h2>Update Asset</h2>
<hr/>
<div style="width: 400px;">
  <form [formGroup]="assetForm" (ngSubmit)="onSubmit()">

    <div class="form-Group mb-2" >
      <label for="name">Asset Code</label>
      <input type="text" class="form-control" formControlName="assetCode">
    </div>
    <div class="mb-2">
      <label for="name">Asset Name</label>
      <input type="text" class="form-control" formControlName="assetName">
    </div>
    <div class="mb-2">
      <label for="name">Asset Day Exp</label>
      <input type="text" class="form-control" formControlName="assetDayExp">
    </div>
    <div class="mb-2">
      <label for="name">Asset Price</label>
      <input type="text" class="form-control" formControlName="assetPrice">
    </div>
    <div class="mb-2">
      <label for="name">Asset Type Id</label>
      <input type="text" class="form-control" formControlName="assetTypeId">
    </div>
    <button type="submit" class="btn btn-success my-2 mx-2">Submit

    </button>
<button (click)="gotoList()" class="btn btn-info">Back</button><br>
  </form>
</div>
