<h2>Update Asset Type</h2>
<hr/>
<div style="width: 400px;">
  <form [formGroup]="assetTypeForm" (ngSubmit)="onSubmit()">
    <!-- <div class="form-Group mb-2">
      <label for="name">Asset Type Code</label>
      <input type="text" class="form-control" formControlName="assetTypeCode" >
    </div> -->
    <div>
      <label for="name">Asset Type Name</label>
      <input type="text" class="form-control" formControlName="assetTypeName" >
    </div>

    <button type="submit" class="btn btn-success my-3 mx-2">Submit

    </button>
<button (click)="gotoList()" class="btn btn-info">Back</button><br>
  </form>
</div>
