<h2>Update Employee</h2>
<hr/>
<div style="width: 400px;">
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="form-Group mb-2">
      <label for="name">Employee Code</label>
      <input type="text" class="form-control" formControlName="employeeCode" >
    </div>
    <div>
      <label for="name">Employee Name</label>
      <input type="text" class="form-control" formControlName="employeeName" >
    </div>

    <button type="submit" class="btn btn-success my-3 mx-2">Submit

    </button>
<button (click)="gotoList()" class="btn btn-info">Back</button><br>
  </form>
</div>
